<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>256373963271-eked7epp01inak786nhln8ag4dbmrebi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256373963271-eked7epp01inak786nhln8ag4dbmrebi</string>
	<key>API_KEY</key>
	<string>AIzaSyDtec1HgKMyPBEeBUOkaGxGqrzhvTYV9HU</string>
	<key>GCM_SENDER_ID</key>
	<string>256373963271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios-18Nariman.Homework1-3</string>
	<key>PROJECT_ID</key>
	<string>homeworkvk-b8a29</string>
	<key>STORAGE_BUCKET</key>
	<string>homeworkvk-b8a29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256373963271:ios:744006dbd10342822408a2</string>
</dict>
</plist>